body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
div#root {
  margin: auto;
  padding-top: 50px;
  width: 1200px;
}
.filter {
  padding-bottom: 20px;
}
.partners {
  border-collapse: collapse;
  width: 1200px;
}
.partners thead th {
  background-color: #274287;
  color: white;
}
.partners thead th.time {
  width: 120px;
  text-align: left;
  box-sizing: border-box;
}
.partners thead th.select {
  width: 60px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.partners thead th.partner {
  width: 120px;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
}
.partners thead th {
  padding: 4px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.partners tbody tr td {
  padding: 4px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.partners tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.partners tbody tr td.select {
  text-align: center;
}
div.newTime {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}
div.newTime span.label {
  width: 180px;
  display: inline-block;
  text-align: center;
}
div.newTime form {
  display: inline;
}
div.newTime form input {
  margin: 4px;
  width: 130px;
  box-sizing: border-box;
}
div.navigator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
div.navigator div.page {
  height: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
div.navigator div.page-selected {
  background-color: lightblue;
}
div.navigator div.disable {
  cursor: default;
  color: grey;
}
